{% extends 'containers/base.html' %}
{% block body %}
{% load static %}
<div class="row justify-content-center text-center">
    <h2>Presiona alguno de los botones para conocer mas sobre la normativa</h2>
    <div class="card m-2" style="width: 18rem;">
        <img src="/static/img/book.svg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Normativa Nacional</h5>
          <a href="/company/show_regulation_information/NSR10/0" class="btn btn-primary">Categorizacion</a>
          <a href="/company/show_regulation_information/NSR10/1" class="btn btn-primary mt-2">Inspeccion</a>
        </div>
      </div>

      <div class="card m-2" style="width: 18rem;">
        <img src="/static/img/book.svg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Normativa Internacional</h5>
          <a href="/company/show_regulation_information/NFPA101/0" class="btn btn-primary">Categorizacion</a>
          <a href="/company/show_regulation_information/NFPA101/1" class="btn btn-primary mt-2">Inspeccion</a>
        </div>
      </div>
      <div>
      <a href="/company/law_interface" class="btn btn-primary mt-3">Editar normativa</a>
    </div>
</div>
{% endblock %}