{% extends 'containers/base_landing_page.html' %}
{% block body %}
{% load static %}
<div align="center">
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}

  <table border="2", width="50%", bgcolor="white">
    <table border="2", width="50%", bgcolor="ffdbdb">
    <br>
    {% for x in form %}
      {% if 'type' not in x.label_tag and 'size' not in x.label_tag and 'numOptions' not in x.label_tag and 'tag' not in x.label_tag %}
        <tr>
          <th>{{ x.label_tag }}</th>
          <td>
            {{ x.errors }}
            {{ x }}
          </td>
        </tr>
      {% else %}
        <tr><td>{{ x.as_hidden }}</td></tr>
      {% endif %}

      {% if 'numOptions' in x.label_tag %}
      <tr><td>
        <input type="submit" name="add" value=" + ">
        <input type="submit" name="remove" value=" - ">
      </td></tr>
        </table><br><table border="2", width="50%", bgcolor="#ffdbdb">
      {% endif %}
      {% if 'law' in x.label_tag %}
        </table><br><table border="2", width="50%", bgcolor="#ffdbdb">
      {% endif %}

    {% endfor %}
    </table>
  </table>
  <br>
  <button type="submit">Submit</button>
</form>
</div>
{% endblock %}