{% extends 'containers/base.html' %}
{% block body %}
<div class="container">
    <h1>Buscar edificio{% if searchTerm != None and searchTerm != '' %}: {{searchTerm}}{% endif %}
    </h1>
    {% if messages %}
       {% for message in messages %}
           {% if message.tags == 'error' %}
              <div class="alert alert-dismissible alert-danger">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <strong class="text-dark">{{ message }}</strong>
              </div>
           {% endif %}
           {% if message.tags == 'success' %}
              <div class="alert alert-dismissible alert-success">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <strong class="text-dark">{{ message }}</strong>
              </div>
           {% endif %}
      {% endfor %}
    {% endif %}
    <form class="d-flex" action="search_building">
        <input class="form-control me-2" type="search" placeholder="Nombre del edificio" aria-label="Search" name="searchTerm">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for b in buildings_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{b.site_name}}</td>
                <td>{{b.address}}</td>
                <td>{{b.site_type}}</td>
                <td><a href="view_building_information/{{b.code}}" class="btn btn-info">Ver información</a></td>
                <td><a href="edition_building/{{b.code}}" class="btn btn-info">Editar</a></td>
                <td><a href="delete_building/{{b.code}}" class="btn btn-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if buildings_list|length == 0 %}
        <h3 class="text-center">No hay edificios con el filtro '{{searchTerm}}'</h3>
    {% endif %}
</div>
{% endblock %}
