{% extends 'containers/base.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h1>Buscar edificio{% if searchTerm != None and searchTerm != '' %}: {{searchTerm}}{% endif %}
    </h1>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% else %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <form class="d-flex" action="search_building">
        <input class="form-control me-2" type="search" placeholder="Nombre del edificio" aria-label="Search"
            name="searchTerm">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <table class="table mt-3" id="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Normativa</th>
                <th scope="col">Categoria</th>
                <th scope="col">Resultado ultima inspeccion</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <div id="table-body">
            <tbody>
                {% for b in list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{b.0.site_name}}</td>
                    <td>{{b.0.regulation}}</td>
                    <td>{{b.0.site_type}}</td>
                    {% if b.1.is_inspection_successful == True %}
                        <td><button type="button" class="btn btn-outline-success" disabled="true">Aprobado</button></td>
                    {% elif b.1.is_inspection_successful == False %}
                        <td><button type="button" class="btn btn-outline-danger" disabled="true">No aprobado</button></td>
                    {% else %}
                        <td><button type="button" class="btn btn-outline-secondary" disabled="true">Sin inspeccion</button></td>
                    {% endif %}
                    <td><a href="view_building_information/{{b.0.code}}" class="btn btn-info">Ver información</a></td>
                    <td><a href="edition_building/{{b.0.code}}" class="btn btn-info" onclick="clean_local()">Editar</a></td>
                    <td><a href="" data-bs-toggle="modal" class="btn btn-danger" data-bs-target="#exampleModal" id="{{b.0.code}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
    </table>
    {% if buildings_list|length == 0 and searchTerm%}
    <h3 class="text-center">No hay edificios con el filtro '{{searchTerm}}'</h3>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="delete_building" method="POST">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body">
                        <p>¿Estás seguro de eliminar el edificio?</p>
                        <div class="float-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                    <input id="delete_id_item" name="delete_id_item" value="" style="visibility: hidden;"></input>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'scripts/notification.js' %}"></script>
{% endblock %}
