{% extends 'containers/base.html' %}
{% block body %}
{% load static %}
<div">
    <h1 class="text-center">Informacion de la normativa con la que rige la plataforma</h1>
    <div>
        {% for q in questions %}
            <div class="card m-3" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">Pregunta: {{q.question}}</h5>
                    {% if q.lock != '' %}
                        <p class="card-text">Clave: {{q.lock}}</p>
                    {% endif %}

                    {% if q.image != '' %}
                        <p>Tabla:</p>
                        <ul>
                            {% for m in q.image%}
                                {% if m != '' %}
                                    <li>{{m}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p>Opciones:</p>
                    <ul>
                        {% for o in q.options%}
                            <li>{{o}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}