{% extends 'containers/base.html' %}
{% block body %}
{% load static %}
<h4 class="text-center">Elije la normativa para inciar la inspeccion del edificio {{building_name}} - Tipo {{building_type}}</h4>
<div class="row">
    <div class="col-sm-4 offset-sm-2">
        <div class="card text-center">
            <div class="card-body">
                <h4>Normativa colombiana</h4>
                <img src="{% static 'img/undraw_book_lover_re_rwjy.svg' %}" alt="" width="300" height="300">
                <a href="/company/site_national_inspection/{{building_name}}/{{building_type}}/{{building_id}}" class="btn btn-info">Seleccionar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 offset-sm-2">
        <div class="card text-center">
            <div class="card-body">
                <h4>Normativa internacional</h4>
                <img src="{% static 'img/undraw_book_lover_re_rwjy.svg' %}" alt="" width="300" height="300">
                <a href="" class="btn btn-info">Seleccionar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}