{% extends 'containers/base.html' %}
{% block body %}
<div class="container mt-3 building_form" >
    <h4 class="text-center">Información general del edificio</h4>
    <form action="" method="POST">{% csrf_token %}
        <div class="mb-3">
          <label for="site_name" class="form-label">Nombre del establecimiento</label>
        <input name="site_name" type="text" class="form-control" id="site_name" aria-describedby="emailHelp" placeholder="León XIII">
        </div>
        <div class="mb-3 mb-4">
        <label for="address" class="form-label">Dirección</label>
        <input name="address" type="text" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Cra. 51B #69-1-51">
          </div>
          <span >Información de contacto del establecimiento</span>
          <hr>
          <div class="mb-3">
          <label for="contact_email" class="form-label">Email</label>
         <input name="contact_email" type="email" class="form-control" id="contact_email" aria-describedby="emailHelp" placeholder="ejemplo@dominio.com">
          </div>
          <div class="mb-3">
          <label for="contact_mobile_number" class="form-label">Celular</label>
          <input name="contact_mobile_number" type="number" class="form-control" id="contact_mobile_number" aria-describedby="emailHelp" placeholder="301932029">
          </div>
        <div>
            <button type="submit" onclick="this.form.action='add_building';this.form.submit();" class="btn btn-success button_style">Guardar</button>
            <button type="submit"  onclick="this.form.action='add_building_type';this.form.submit();" class="btn btn-info button_style">Caracterizar establecimiento</button>
        </div>
      </form>
</div>
{% endblock %}
