{% extends 'containers/base_landing_page.html' %}
{% block body %}
{% load static %}
<form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}

  <table border="1">

      <tr>
        <th>{{ form.lock.label_tag }}</th>
        <td>
          {{ form.lock.errors }}
          {{ form.lock }}
        </td>
      </tr>

      <tr>
        <th>{{ form.question.label_tag }}</th>
        <td>
          {{ form.question.errors }}
          {{ form.question }}
        </td>
      </tr>

      <tr>
        <th>{{ form.image.label_tag }}</th>
        <td>
          {{ form.image.errors }}
          {{ form.image }}
        </td>
      </tr>

      <tr>
        <th>{{ form.options.label_tag }}</th>
        <td>
          {{ form.options.errors }}
          {{ form.options }}
        </td>
      </tr>

      <tr>
        <th>{{ form.outputs.label_tag }}</th>
        <td>
          {{ form.outputs.errors }}
          {{ form.outputs }}
        </td>
      </tr>

      <tr>
        <th>{{ form.message.label_tag }}</th>
        <td>
          {{ form.message.errors }}
          {{ form.message }}
          <br />
          {{ form.message.help_text }}
        </td>
      </tr>

  </table>

  <button type="submit">Submit</button>
</form>
{% endblock %}