{% extends 'containers/base_landing_page.html' %}
{% block body %}
{% load static %}
<div align="center">
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}

  <table border="2", width="50%", bgcolor="white">
    <table border="0", width="50%", bgcolor="white">
    {% for x in form %}
      {% if 'type' not in x.label_tag and 'size' not in x.label_tag %}
        {% if 'lock' in x.label_tag %}
          </table><br><table border="2", width="50%", bgcolor="#ffdbdb">
        {% endif %}
        <tr>
          <th>{{ x.label_tag }}</th>
          <td>
            {{ x.errors }}
            {{ x }}
          </td>
        </tr>
      {% else %}
        <tr><th>{{ x.as_hidden }}</td></tr>
      {% endif %}
    {% endfor %}
    </table>
  </table>
  <br>
  <button type="submit">Submit</button>
</form>
</div>
{% endblock %}