{% extends 'containers/base_landing_page.html' %}
{% block body %}
{% load static %}
<div class="container">
    <form action="/search_flow_no_loging/{{building_type}}/{{building_regulation}}" method="POST">{% csrf_token %}
        {% if current_question.exist_flow %}
        {% if current_question.flow != '' %}
        <h3>El edificio debe cumplir:</h3>
        <div id="inspection_result">
            {% for f in current_question.flow %}
            <div class="form-check d-flex p-1">
                <label>
                    {{f}}
                </label>
            </div>
            {% endfor %}
        </div>
        <input id="ids_final_flow" name="ids_final_flow" value="" style="visibility: hidden;"></input>
        <input id="final_flow" name="final_flow" value="{{current_question.flow}}" style="visibility: hidden;"></input>
        <button type="submit" id="set_flow" class="btn btn-primary"
            onclick="checking();this.form.action='/';this.form.submit()">Terminar</button>
        {% else %}
        <h3>Cumple la ley {{building_regulation}}</h3>
        <a href="/" class="btn btn-primary">Terminar</a>
        {% endif %}
        {% else %}
        <div class="container">
            <h4 class="text-center">Inspeccion del edificio</h4>
            <h6>{{current_question.question}}</h6>
            {% if is_material_list %}
            <ul class="list-group">
                {% for m in current_question.image %}
                {% if m != '[]' %}
                <li class="list-group-item">{{m}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% elif is_material_list == False %}
            <img src="{% static current_question.image %}" alt="" width="300px" height="300px">
            {% endif %}
            <div class="justify-content-center" id="options_flow">
                {% for i in current_question.options %}
                <div class="form-check d-flex p-1">
                    <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="{{forloop.counter}}">
                    <label class="form-check-label" for="{{forloop.counter}}">
                        {{i}}
                    </label>
                </div>
                {% endfor %}
                <input id="current_ids_flow" name="current_ids_flow" value="" style="visibility: hidden;"></input>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" id="set_flow" class="btn btn-primary" onclick="next_flow()">Siguiente</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}